<ngb-carousel #carousel [interval]="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="carousel-caption">
        <h3>{{img.description}}</h3>
      </div>
      <a href="img.url" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img [src]="img.url" alt="My image {{i + 1}} description" class="autoimage">
        </div>
      </a>
    </ng-template>
</ngb-carousel>

<div class="card-deck m-2">
    <div class="card card-bg">
      <img class="card-img-top" src="assets/ss1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Software Development</h5>
        <p class="card-text">We provide solutions to application development. Specialized in Web and Mobile Development</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card card-bg">
      <img class="card-img-top" src="assets/ss2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Business Intelligence</h5>
        <p class="card-text">We Provide constructive Data Analysis and Services. We provide tools to enhance data capabilities of an organization.</p>
      </div>
    </div>
    <div class="card card-bg">
      <img class="card-img-top" src="assets/ss3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Vendor Management</h5>
        <p class="card-text">Specialized B2B solution provider. We also deal with outsourcing of the projects.</p>
      </div>
    </div>
  </div>
